extends ../layout

block content
  .tabbable.tabs-left
    ul.nav.nav-tabs  
      for categories, driver in config
        li
          a(href="#config_#{driver}", data-toggle="tab")=driver

    .tab-content
      //list categories for driver
      for categories, driver in config
        .tab-pane(id="config_#{driver}")
          //before include
          include inner-tabs 
          
        
block scripts
  script(src='/socket.io/socket.io.js')
  script(src="/javascripts/config.js")
  script
    $(document).ready(function(){
      deviceConfig();
      listenSocket();
    });

