.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar

      a.brand(href="/")= title

      .nav-collapse.collapse
        p.navbar-text.pull-right Welcome
        ul.nav
          li
            a(href="/config") Config 
          li
            a(href="/raw") Raw
