extends layout

block content
  #raw
    table.table 
      for value, key in values
        - var id = topic2id(key);
        tr(id=id)
          td.topic=key
          td.refresh-at
          td.raw-value=value
          td
            i.icon-pause.trend
          td
            a.btn.raw-delete(data-topic=id)
              i.icon-trash




block scripts
  script(src='/javascripts/bootstrap.messagebox.js')                  
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/raw.js')

